
<div class="text-center">
  <h1>Stupid coach</h1>

  <blockquote>
    <h2><%= @question %></h2>
    <h3>-you</h3>
  </blockquote>

  <blockquote>
    <h2><%= @answer %></h2>
    <h3>-Stupid coach</h3>
  </blockquote>
  <h3><%= link_to 'ask a new question', 'ask' %></h3>
</div>


